table, td, th {
    border: 1px solid #ddd;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.rotina {
    display: flex;
    align-items: center;

    button {
        width: 95%;
        height: 100%;
        margin: 2px;
    }

    .excluir {
        background-color: red;
    }
    
}

.isLocado {
    background-color: red;
    width: 50%;
    height: 100%;
    margin: 2px;         
}

.isLocado:hover {
    background-color: red;
}

.isDisponivel {
    width: 50%;
    height: 100%;
    margin: 2px;     
}