.navbar { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D1C8C1;
    width: 100%;
    

    div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        img {
            width: 65px;
            height: 50px;
        }

        h1 {
            width: 100%;
            font-size: large;
            font-weight: 600;
        }

    }

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        list-style: none;
        padding: 0;

        li {
            cursor: pointer;
        }
    }
}