.datePickerContainer {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.datePickerLabel {
    margin-right: 10px;
    font-weight: bold;
}

.datePicker {
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.fetchButton {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.fetchButton:hover {
    background-color: #45a049;
}

.apontamentosList {
    margin-top: 20px;
}